/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero-section {
    text-align: center;
    padding: 100px 20px;
    background-color: #333;
    color: white;
}

.hero-section h2 {
    font-size: 48px;
}

.hero-section p {
    font-size: 24px;
}

.hero-section .cta-btn {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.hero-section .cta-btn:hover {
    background-color: #eee;
}

/* Section Styling */
.section {
    padding: 60px 20px;
    text-align: center;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list li {
    background-color: #eee;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
}

.project-item, .experience-item {
    margin-bottom: 30px;
}

.project-item a, .experience-item a {
    color: #333;
    text-decoration: none;
}

.project-item a:hover, .experience-item a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}
